<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Logging for SOVND Server -->
  
  <extensions>
    <add assembly="NLog.Slack" />
    <add assembly="LogentriesNLog"/>
  </extensions>

  <targets async="true">
    <target type="Logentries"
            name="logentries"
            debug="true"
            httpPut="false"
            ssl="false"
            layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    
    <target xsi:type="Slack"
            name="slackTarget"
            layout="${message}"
            webHookUrl="https://hooks.slack.com/services/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"
            channel="#sovnd-server-logs"
            username="Server"
            compact="true"
            icon=":ghost:" />

    <target xsi:type="Console"
            name="console"
            layout="${message}"/>

    <target name="chainsaw" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />
    
    <target xsi:type="ColoredConsole"
              name="coloredConsole"
              layout="${message}"
              useDefaultRowHighlightingRules="true">
      <highlight-row backgroundColor="Blue" condition="contains('${message}', 'Playing')" foregroundColor="White"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" appendTo="logentries"/>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="slackTarget" />
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>
</nlog>