<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Logging for SOVND Clent -->

  <targets async="true">
    <!--
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/log.txt"
        keepFileOpen="false"
        encoding="iso-8859-2" />
        -->
  </targets>
  <rules>
    <!--
    <logger name="*" minlevel="Trace" writeTo="file" />
    -->
  </rules>
</nlog>