<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

  <!-- Logging for SOVND Clent -->

  <targets async="true">
    <!--
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/log.txt"
        keepFileOpen="false"
        encoding="iso-8859-2" />
        -->

    <target p3:type="Console" name="console" layout="${message}" xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" />
    <target name="chainsaw" p3:type="Chainsaw" address="udp://127.0.0.1:7071" xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" />
    <target p3:type="ColoredConsole" name="coloredConsole" layout="${message}" useDefaultRowHighlightingRules="true" xmlns:p3="http://www.w3.org/2001/XMLSchema-instance">
      <highlight-row backgroundColor="Blue" condition="contains('${message}', 'Playing')" foregroundColor="White" />
    </target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>
</nlog>